@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
}
::-moz-selection { /* Code for Firefox */
    color: black;
    background: yellowgreen;
  }
  
  ::selection {
    color: black;
    background: yellowgreen;
  }

.head{
    padding-top: 2em;
    padding-bottom: 4em;
    padding-right: 1em;
    padding-left:  1em;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}
.list{
    justify-self: end;
    display: initial;
    visibility: visible;
}
.ls1 li{  
    
    display: inline-block;
    padding: 0 1em;
    font-family:sans-serif ;
}

.head a{
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    text-align: center;
}


ul{
    padding-left: 0;
    margin: 0;
}
.logo{
    padding-left: 1em;
    justify-self: start;
    align-self: center;
    display: inline-block;
   visibility: visible;
}
.logo p{
    margin: 0;
    display: inline-block;
    align-self: center;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  color: black;
  font-size: 1.2em;
}

.pic1{
    border-radius: 1%;
    background: url(../pictures/artcls/cold.jpg) no-repeat center ;
    background-size: cover;
    filter: grayscale(100%);
}
.pic2{
    border-radius: 1%;
    background: url(../pictures/artcls/run.jpg) no-repeat center ;
    background-size: cover;
    filter: grayscale(100%);
}
.pic3{
    border-radius: 1%;
    background: url(../pictures/artcls/programming.jpg) no-repeat center ;
    background-size: cover;
    filter: grayscale(100%);
}


.p2pic1{
    border-radius: 1%;
    background: url(../pictures/artcls/algo.jpg) no-repeat center ;
    background-size: cover;
    filter: grayscale(100%);
}
.p2pic2{
    border-radius: 1%;
    background: url(../pictures/artcls/websites.jpg) no-repeat center ;
    background-size: cover;
    filter: grayscale(100%);
}
.p2pic3{
    border-radius: 1%;
    background: url(../pictures/artcls/js.jpg) no-repeat center ;
    background-size: cover;
    filter: grayscale(100%);
}

.articles{
    padding: 3em;
    display: grid;
    grid-template-columns: 70% 30%;
}
.big-articles{
    display: grid;
    grid-template-columns: 1fr;
}

.articl1{
    
    display: grid;
    grid-template-columns: 1fr;
}
.picntime{
    height: 600px;
    width: 90%;
    display: grid;
    grid-template-rows: 85% 15%;
    
}
.text{
    width: 90%;
}
/*.time{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
}*/
.text a{
    text-decoration: none;
    color: white;
    background: #2a736a;
    padding: .3em .8em;
    
}
.text h1{
    font-family: Inter UI,sans-serif;
    margin-bottom: 0em;
    text-transform: uppercase;
}

.text p{
    align-self: center;
    margin-bottom: 5em;
    color: #586069;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}
.time p{
    
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}
.time img{
   
   justify-self: center;
    border-radius: 10%;
}


.small-articles{
    height: 50%;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    gap: 2em;
}
a{
    text-decoration: none;
}

.small-articles p{
    color: white;
    font-size: 2em;
  
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;

}
.s-art-1{
    align-self: center;
    background: darkblue;
}
.s-art-2{
    align-self: center;

    background: black;
}
.s-art-3{
    align-self: center;

    background: greenyellow;
}
/*.s-art-1 {
    background: url(../pictures/COLD\ SHOWER.png) no-repeat center;

    background-size: contain;
}
.s-art-2{
    background: url(../pictures/RUNNING.png) no-repeat center;
    background-size: contain;
}
.s-art-3{
    background: url(../pictures/PROGRAMMING.png) no-repeat center;
    background-size: contain;
}

*/
.pages ul{
   text-align: center;
list-style: none;


}
.pages li {
    display: inline-block;
}
.pages a{
    background: #2a736a;
    padding: 0.5em 0.7em;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  border: 1px solid #2a736a;
  transition: 1.5s;

}

.pages a:hover{
    border: 1px solid #2a736a;
    background: white;
    color: #2a736a;
    transition: 1s;
}
.foot{
    border-bottom:10px solid #2a736a ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    padding: 2em;
}
.foot ul{
    list-style: none;
}
.foot li{
    padding: 0.5em 0;
}
.foot a{
    text-decoration: none;
    color: #586069;
    transition: 1s;
}
.foot a:hover{
    transition: 1s;
    color: black;
}
.ttl{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 1.2em;

}
.my-name{
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}

.socials-list li{
    padding:  .5em ;
    display: inline-block;
}

.socials-list i{
    transition: 1s;
    
    font-size: 1.5em;
}
.header-socials-list{
    
  padding-top: 1.5em;
  padding-right: 2em;
}
.header-socials-list li{
    padding:  .5em ;
    display: inline-block;
  
}

.header-socials-list i{
    transition: 1s;
    color: black;
    font-size: 1em;

}
.header-socials-list i:hover{
    transition: 1s;
    color: black;
    font-size: 1em;
    color: yellowgreen;
    
}

.socials-list i:hover{
    transition:.5s;
    color: black;
}

.mob-butt{
    display: none;
    visibility: hidden;
}

.overlay{
    visibility: hidden;
    display: none;
}
.time img {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width:1000px){
    
 .logo{
     padding-left: 0;
     visibility: visible;
     display: initial;
 }
 .logo p{
     font-size: 1.1em;
 }
 .list{
     visibility: hidden;
     display: none;
 }
 .mob-butt{
     justify-self: end;
     display: initial;
     visibility: visible;
 }
  .mob-butt{
    color: black;
    font-size: 2em;
    transition: 1s;
}
.mob-butt:hover{
    color:yellowgreen ;
    transition: 1s;
}

.overlay {

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
   background: black;
    overflow-x: hidden;
    transition: 0.5s;
    border-bottom: 10px solid #2a736a;
    visibility: visible;
    display: initial;
  }
 .overlay li{
     display: inline-block;
 }
 .both2 li{
     padding: 2em 0.5em;
 }

  .overlay .closebtn {
    position: absolute;
    top:0;
    right: 1em;
    font-size: 3em;
    color: white;
  }
.overlay a{
    text-decoration: none;
}
  .both{
  
    height: 100%;
    display: grid;
    align-content: center;
    text-align: center;
}

.articles{

    grid-template-columns: 1fr;
}
.picntime{
    width: 100%;
}
.head{
    padding-right: 3.2em;
    padding-bottom: 3em;
    padding-left: 3.2em;
    padding-top: 2em;
    grid-template-columns: 1fr 0.5fr;

}
}


@media only screen and (max-width:660px){
    .header-socials-list{
    
      display: none;
        visibility: hidden;
      }
    .logo p{
        font-size: 0.8em;
    }
    .socials-list i{
       
        font-size: 1em;
    }
    .picntime{
        height: 350px;
    }
    .articles{
        padding: 3em 1em;
    }
    .time{
        grid-template-columns: 20% 80%;
    }
    .time img {
        height: 35px ;
        width: 35px;
    }
    .foot{
        text-align: center;
        grid-template-columns: 1fr ;
    }
    .head{
    padding-right: 1em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-top: 2em;
    }
}