@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
    box-sizing: border-box;
}
html, body{
margin: 0;
height: 100%;
font-family: "Orator Std",sans-serif;
}
.section{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1/4 ;
    
}
.S1{
   background: #2a736a;
   display: grid;
   grid-template-rows: 0.5fr 4fr;
   padding: 1em;
   max-height: 100%;
    overflow: hidden;
}

.S1 i{
    font-size: 2.5em;
    color: white;
   
    padding: 0.3em;
}
.S1 h1{
justify-self:center ;
align-self: center;
font-size: 4.5em;
font-family: 'Inconsolata', monospace;
text-transform: uppercase;
color:white;


}




.S2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto 0.5fr;
  height: 100%;
  overflow: scroll;
  
}

ul a{
    text-decoration: none;
    color: black;
}




.ls1 li{
    font-family: 'Raleway', sans-serif;
    padding: 0 1.5em;
    font-weight: bolder;
}

.lista{
 
    display: grid;
    justify-items: center;
    align-content: center;
   
}



.Socials{
  
    display: grid;
    justify-items: end;
   
}
.paras{
    display: grid;
    gap: 1em;
 
    padding: 1.5em 0;
}


.paras img {
    width: 90%;
    border: 1px solid gray;
    box-shadow: 5px 15px 5px 0px rgba(0, 0, 0, 0.16);
   justify-self: center;
   transition: transform .2s;
}

.folio:hover{
transform: scale(0.9);

}


ul{
    list-style: none;
    
}
li{
    display: inline;
}
a{
    text-decoration: none;
}

.Socials ul{
    padding-right: 0.5em;
}


.fab{
   
    color: white;
    background: black;  
    padding: 0.3em;
    border-radius: 20px;
    font-size: 1.2em;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
   background: black;
    overflow-x: hidden;
    transition: 0.5s;
    border-bottom: 10px solid #2a736a;
    visibility: visible;
    display: initial;
  }
 
  .overlay .closebtn {
    position: absolute;
    top:0;
    right: 1em;
    font-size: 3em;
    color: white;
  }

.both{
  
    height: 100%;
    display: grid;
    align-content: center;
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #3D3D3D;
    padding: 0.5em;
   
    
        visibility: visible;
        display: initial;
    
    
}
footer a{
    color: #7f7f7f;
}
footer a:hover {
    color: white;
}


footer ul{
    padding-left: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}


footer li{
    font-size: 0.7em;
    text-align: center;
}

.both1 ul{
    padding-left: 0;
} 
.both2 ul {
    padding-left: 0;
}



@media only screen and (max-width:900px){
    .section{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr  1.2fr;

    }
  
  .fas{
      font-size: 2em;
  }
.Socials{
    margin-bottom: 2em;
}
.S2{
    overflow: initial;
   
}


.S1{
    background: #2a736a;
    overflow: initial;
  
}
footer{
    visibility: visible;
    display: initial;
}

.ls1 li{
    padding: 0 1em;
}
}
@media only screen and (max-width:750px){
    .ls1 li{
        padding: 0 .5em;
    }
.ls1{
    padding: 0;
}
   .S1 h1{
       font-size: 3em;
   }
    .section{
        grid-template-columns: 1fr;

    }
.S1, .S2 {
    overflow: initial;
}

.Socials{
    margin-bottom: 0.1em;
}
    .fas{
        font-size: 1.5em;
    }
  
footer {
    visibility: hidden;
    display: none;
}


}